<h1>Artist Form</h1>
<%= form_for @artist do |a| %>
<h2> <%= a.text_field :name, placeholder: "Enter artist's name" %> </h2>
<h2> <%= a.text_area :bio, placeholder: "Write artist's bio" %> </h2>
<%= a.submit "Create Artist" %>
<% end %>
